In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("C:/Users/91758/Downloads/movie_metadata1.csv")

In [3]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723,178,0,855,Joel David Moore,1000,760505847,Action|Adventure|Fantasy|Sci-Fi,...,3054,English,USA,PG-13,237000000,2009,936,7.9,1.78,33000
1,Color,Gore Verbinski,302,169,563,1000,Orlando Bloom,40000,309404152,Action|Adventure|Fantasy,...,1238,English,USA,PG-13,300000000,2007,5000,7.1,2.35,0
2,Color,Sam Mendes,602,148,0,161,Rory Kinnear,11000,200074175,Action|Adventure|Thriller,...,994,English,UK,PG-13,245000000,2015,393,6.8,2.35,85000
3,Color,Christopher Nolan,813,164,22000,23000,Christian Bale,27000,448130642,Action|Thriller,...,2701,English,USA,PG-13,250000000,2012,23000,8.5,2.35,164000
4,49,Doug Walker,49,49,131,49,Rob Walker,131,49,Documentary,...,49,49,49,49,49,49,12,7.1,49.00,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5043 non-null object
director_name                5043 non-null object
num_critic_for_reviews       5043 non-null int64
duration                     5043 non-null int64
director_facebook_likes      5043 non-null int64
actor_3_facebook_likes       5043 non-null int64
actor_2_name                 5043 non-null object
actor_1_facebook_likes       5043 non-null int64
gross                        5043 non-null int64
genres                       5043 non-null object
actor_1_name                 5043 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5043 non-null object
facenumber_in_poster         5043 non-null int64
plot_keywords                5043 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5043 non-null int64
language                     5043 non-null object
country                      5043 non-null object
content_rating               5043 non-null object
budget                       5043 non-null int64
title_year                   5043 non-null int64
actor_2_facebook_likes       5043 non-null int64
imdb_score                   5043 non-null float64
aspect_ratio                 5043 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(2), int64(14), object(12)
memory usage: 1.1+ MB

In [5]:
import numpy as np

In [6]:
df1=df[['budget','gross']]

In [8]:
df2=df1.head(10)

In [9]:
df2

      budget      gross
0  237000000  760505847
1  300000000  309404152
2  245000000  200074175
3  250000000  448130642
4         49         49
5  263700000   73058679
6  258000000  336530303
7  260000000  200807262
8  250000000  458991599
9  250000000  301956980

In [23]:
sudo apt-get install python-scipy

SyntaxError: invalid syntax (<ipython-input-23-fba86838afc6>, line 1)

In [16]:
from scipy.hierarchy import dendrogram,linkage

ModuleNotFoundError: No module named 'scipy.hierarchy'

In [11]:
z=linkage(df2)

NameError: name 'linkage' is not defined

In [ ]:
d= dendrogram(z)

In [ ]:
z= linkage(df2,'complete')

In [ ]:
d= dendrogram(z)