You are provided with a dataset “NewsArticles.json” having news articles of mixed topics including business, entertainment, politics, sports, technology, but without labels. 
You are required to make a clustering-based model.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [2]:
df= pd.read_json('C:/Users/91758/Downloads/training-NewsArticles/NewsArticles.json')

In [3]:
df.head()

,Article,Preprocessed-Article,Vector
0,Musical treatment for Capra film\n\nThe classi...,Musical treatment Capra film The classic film ...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,Spark heads world Booker list\n\nDame Muriel S...,Spark heads world Booker list Dame Muriel Spar...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
10,Artists' secret postcards on sale\n\nPostcards...,Artists secret postcards sale Postcards artis...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
100,Chepkemei joins Edinburgh line-up\n\nSusan Che...,Chepkemei joins Edinburgh lineup Susan Chepkem...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
101,El Guerrouj targets cross country\n\nDouble Ol...,El Guerrouj targets cross country Double Olymp...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [4]:
df_vector= df['Vector']

In [6]:
vectordf=pd.DataFrame(list(df_vector))

In [11]:
vectordf.head()

,0,1,2,3,4,5,6,7,8,9,...,8858,8859,8860,8861,8862,8863,8864,8865,8866,8867
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
vectordf.shape

(179, 8868)

In [13]:
km= KMeans(n_clusters=5)

In [18]:
km.fit(vectordf)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [43]:
a1=pd.Series(km.labels_)

In [44]:
a1.value_counts()

0    68
1    37
3    33
4    22
2    19
dtype: int64

In [28]:
km.inertia_ #SSE

164.38211020849118

In [48]:
df['Label']= km.labels_

In [59]:
for each,subset in df.groupby("Label"):
    print('labelname',each)
    print(' '.join(subset['Preprocessed-Article']).lower().split()[:50])

labelname 0
['euniversity', 'disgraceful', 'waste', 'a', 'failed', 'government', 'scheme', 'offer', 'uk', 'university', 'courses', 'online', 'branded', 'disgraceful', 'waste', 'mps', 'the', 'euniversity', 'scrapped', 'last', 'year', 'attracted', '900', 'students', 'cost', '£50m', 'chief', 'executive', 'john', 'beaumont', 'paid', 'bonus', '£44914', 'despite', 'failure', 'bring', 'private', 'sector', 'backers', 'the', 'commons', 'education', 'select', 'committee', 'called', 'morally', 'indefensible', 'government', 'said', 'euniversity']
labelname 1
['tsunami', 'debt', 'deal', 'announced', 'chancellor', 'gordon', 'brown', 'said', 'hopes', 'announce', 'deal', 'suspend', 'debt', 'interest', 'repayments', 'tsunamihit', 'nations', 'later', 'friday', 'the', 'agreement', 'g8', 'group', 'wealthy', 'nations', 'would', 'save', 'affected', 'countries', '£3bn', 'pounds', 'year', 'said', 'the', 'deal', 'thought', 'hammered', 'thursday', 'night', 'japan', 'one', 'biggest', 'creditor', 'nations', 'finally', 'signed', 'mr', 'brown', 'first', 'proposed']
labelname 2
['sprinter', 'walker', 'quits', 'athletics', 'former', 'european', '200m', 'champion', 'dougie', 'walker', 'retire', 'athletics', 'series', 'six', 'operations', 'left', 'struggling', 'fitness', 'walker', 'hoped', 'compete', 'new', 'year', 'sprint', 'staged', 'musselburgh', 'racecourse', 'near', 'edinburgh', 'tuesday', 'wednesday', 'the', '31yearold', 'scot', 'suspended', 'two', 'years', '1998', 'testing', 'positive', 'nandrolone', 'i', 'intended', 'race', 'i', 'running', 'like', 'goon', 'said', 'walker']
labelname 3
['musical', 'treatment', 'capra', 'film', 'the', 'classic', 'film', 'it', 'a', 'wonderful', 'life', 'turned', 'musical', 'producer', 'controversial', 'hit', 'show', 'jerry', 'springer', 'the', 'opera', 'frank', 'capra', '1946', 'movie', 'starring', 'james', 'stewart', 'turned', '£7m', 'musical', 'producer', 'jon', 'thoday', 'he', 'working', 'steve', 'brown', 'wrote', 'awardwinning', 'musical', 'spend', 'spend', 'spend', 'a', 'spokeswoman', 'said', 'plans', 'early', 'stages']
labelname 4
['chepkemei', 'joins', 'edinburgh', 'lineup', 'susan', 'chepkemei', 'decided', 'fit', 'enough', 'run', 'next', 'month', 'great', 'edinburgh', 'international', 'cross', 'country', 'the', 'kenyan', 'initially', 'unsure', 'would', 'recovered', 'gruelling', 'tussle', 'paula', 'radcliffe', 'new', 'york', 'marathon', 'time', 'compete', 'but', 'declared', 'task', 'joins', 'field', 'headed', 'world', 'cross', 'country', 'champion', 'benita', 'johnson', 'race', 'director', 'matthew', 'turnbull', 'said', 'susan']

In [31]:
from sklearn.decomposition import PCA

In [32]:
pca=PCA(n_components=100)

In [36]:
a=pca.fit_transform(vectordf)

In [37]:
a.shape

(179, 100)

In [38]:
km1=KMeans(n_clusters=5)

In [39]:
km1.fit(a)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [40]:
km1.inertia_

110.26676447236264

In [42]:
s=pd.Series(km1.labels_)
s.value_counts()

2    118
4     23
1     16
3     11
0     11
dtype: int64

In [56]:
df['WithPCALabel']= km1.labels_

In [61]:
for each,subset in df.groupby("WithPCALabel"):
    print('labelname',each)
    print("".join(subset['Preprocessed-Article']).lower().split()[:50])

labelname 0
['holmes', 'feted', 'honour', 'double', 'olympic', 'champion', 'kelly', 'holmes', 'voted', 'european', 'athletics', 'eaa', 'woman', 'athlete', '2004', 'governing', 'body', 'annual', 'poll', 'the', 'briton', 'made', 'dame', 'new', 'year', 'honours', 'list', 'taking', '800m', '1500m', 'gold', 'vital', 'votes', 'public', 'press', 'eaa', 'member', 'federations', 'she', 'second', 'british', 'woman', 'land', 'title', 'sally', 'gunnell', 'world', '400m', 'hurdles', 'win']
labelname 1
['china', 'net', 'cafe', 'culture', 'crackdown', 'chinese', 'authorities', 'closed', '12575', 'net', 'cafes', 'closing', 'months', '2004', 'country', 'government', 'said', 'according', 'official', 'news', 'agency', 'net', 'cafes', 'closed', 'operating', 'illegally', 'chinese', 'net', 'cafes', 'operate', 'set', 'strict', 'guidelines', 'many', 'recently', 'closed', 'broke', 'rules', 'limit', 'close', 'schools', 'the', 'move', 'latest', 'series', 'steps', 'chinese', 'government', 'taken', 'crack']
labelname 2
['musical', 'treatment', 'capra', 'film', 'the', 'classic', 'film', 'it', 'a', 'wonderful', 'life', 'turned', 'musical', 'producer', 'controversial', 'hit', 'show', 'jerry', 'springer', 'the', 'opera', 'frank', 'capra', '1946', 'movie', 'starring', 'james', 'stewart', 'turned', '£7m', 'musical', 'producer', 'jon', 'thoday', 'he', 'working', 'steve', 'brown', 'wrote', 'awardwinning', 'musical', 'spend', 'spend', 'spend', 'a', 'spokeswoman', 'said', 'plans', 'early', 'stages']
labelname 3
['richard', 'judy', 'choose', 'top', 'books', 'the', '10', 'authors', 'shortlisted', 'richard', 'judy', 'book', 'award', '2005', 'hoping', 'boost', 'sales', 'following', 'success', 'year', 'winner', 'the', 'tv', 'couple', 'interest', 'book', 'world', 'coined', 'term', 'richard', 'judy', 'effect', 'created', 'top', 'two', 'bestselling', 'paperbacks', '2004', 'far', 'the', 'finalists', '2005', 'include', 'andrew', 'taylor', 'the', 'american', 'boy', 'robbie', 'williams']
labelname 4
['chepkemei', 'joins', 'edinburgh', 'lineup', 'susan', 'chepkemei', 'decided', 'fit', 'enough', 'run', 'next', 'month', 'great', 'edinburgh', 'international', 'cross', 'country', 'the', 'kenyan', 'initially', 'unsure', 'would', 'recovered', 'gruelling', 'tussle', 'paula', 'radcliffe', 'new', 'york', 'marathon', 'time', 'compete', 'but', 'declared', 'task', 'joins', 'field', 'headed', 'world', 'cross', 'country', 'champion', 'benita', 'johnson', 'race', 'director', 'matthew', 'turnbull', 'said', 'susan']