In [1]:
import numpy as np
import pandas as pd

In [2]:
df=  pd.read_csv("C:/Users/91758/Downloads/bio-degradabale-data.csv",header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,RB
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB

In [4]:
df[41]= pd.get_dummies(df[41])

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,0
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,0
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,0
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,0
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,0

In [6]:
df.rename(columns={41:'Bio or not'},inplace=True)

In [7]:
from sklearn.model_selection import train_test_split

In [9]:
y= df['Bio or not']

In [11]:
x= df.drop('Bio or not',axis=1)

In [14]:
x.shape

(1055, 41)

In [15]:
y.shape

(1055,)

In [16]:
trainx,testx,trainy,testy= train_test_split(x,y,test_size=0.25)

In [18]:
from sklearn.ensemble import AdaBoostClassifier

In [19]:
abc = AdaBoostClassifier(n_estimators=20)

In [20]:
model= abc.fit(trainx,trainy)

In [21]:
pred= model.predict(testx)

In [23]:
from sklearn import metrics

In [25]:
print("Accuracy:",metrics.accuracy_score(testy, pred))

Accuracy: 0.8181818181818182